.btn-grad {
    background-image: linear-gradient(to right,
            #83a4d4 0%,
            #b6fbff 51%,
            #83a4d4 100%);
}

.btn-grad {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
    outline: none!important;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.underline-none{
    text-decoration: none!important;
    color: black;
}

.btn-google{
    
}